<div id="about-page" class="content page">
    <div class="page-container">
        <div id="video-container">
            <iframe id="video-ad" class="container-full" src="//www.youtube.com/embed/4BunoRNTJIg?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen></iframe>
        </div>
        <div id="feature" class="text-center">
            <h2 id="feature-heading">
                TECHNOLOGY IS OUR 
                <br>BUSINESS
            </h2>
            <hr class="small-horizontal-rule-to-be-replaced-with-real-class">
            <p id="feature-message">
                We've been around of it almost since the dawn
                and we're not about to quit! 
                <br>
                Our goal is simply to handle the heavy lifting ... 
            </p>
            <br>
            <button id="feature-slogan" class="btn btn-default">HERE IS THE FEATURE MESSAGE</button>
        </div>
        <hr class="small-horizontal-rule-to-be-replaced-with-real-class">
        <div id="services" class="text-center lg-pad">
            <h2 id="services-heading">WHAT WE OFFER</h2>
            <p id="services-body">SERVICES OFFERING</p>
        </div>
        <div id="belief" class="text-center lg-pad">
                <h2 id="belief-heading">WHAT WE OFFER</h2>
                <p id="belief-body" class="container-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum augue, ultricies pharetra nisi. Curabitur ultricies leo metus, ac fermentum nibh accumsan a. Nunc.</p>
        </div>
        <div id="values" class="text-center lg-pad">
                <h2 id="values-heading">WHAT WE OFFER</h2>
                <p id="values-body" class="container-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum augue, ultricies pharetra nisi. Curabitur ultricies leo metus, ac fermentum nibh accumsan a. Nunc.</p>
        </div>
        <div id="team" class="text-center lg-pad">
                <h2 id="team-heading">WHAT WE OFFER</h2>
                <p id="team-body" class="container-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum augue, ultricies pharetra nisi. Curabitur ultricies leo metus, ac fermentum nibh accumsan a. Nunc.</p>
        </div>
        <div id="cta" class="text-center lg-pad">
                <h2 id="cta-heading">WHAT WE OFFER</h2>
                <p id="cta-body" class="container-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum augue, ultricies pharetra nisi. Curabitur ultricies leo metus, ac fermentum nibh accumsan a. Nunc.</p>
        </div>
    </div>
</div>
