<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <title>Tech Ninja | Web &amp; IT</title>
    <meta name="description" content="Tech Ninja | Web &amp; IT Advanced Web Applications" />
    <meta name="author" content="4UmNinja" />

    <link rel="stylesheet" href="../../css/styles.css?v=1.0" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400normal,700normal" rel="stylesheet" type="text/css">
    <!-- Tech Ninja Custom Icons -->
    <link rel="stylesheet" href="../../vendor/tn-icons/css/fontello.css">
    <link rel="stylesheet" href="../../vendor/tn-icons/css/animation.css">
    <!--[if IE 7]><link rel="stylesheet" href="../../vendor/tn-icons/css/fontello-ie7.css"><![endif]-->

    <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div id="navigation">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tn-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="../../index.html"><span class="tech">TECH</span><span class="ninja"> NINJA</span> <img class="hidden" src="#" alt="Tech Ninja | Web &amp; IT"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="tn-nav-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="./about.html">About <span class="sr-only">(current)</span></a>
                            </li>
                            <li class=""><a href="./portfolio.html">Portfolio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class=""><a href="./support.html">Support <span class="sr-only">(current)</span></a>
                            </li>
                            <li class=""><a href="./contact.html">Contact <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <div id="nav-login" class="text-center navbar-right">
                            <button id="signin" type="button" class="btn btn-sm btn-success navbar-btn">Sign in </button>
                            <br /><a class="navbar-link not-a-member">Not A Member?</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="about-page" class="content page">
        <div class="page-container">
            MAIN CONTENT ABOUT
            <div id="footer">
                <div class="container-fluid test">
                    <div class="container">
                        <div class="row">
                            <div class="footer-links-container col-sm-4 sm-pad">
                                <h4 id="footer-links-heading">
                                Navigation Links
                            </h4>
                                <hr class="white">
                                <div id="footer-links" class="col-sm-6">
                                    <div class="list-unstyled row">
                                        <div class="col-xs-12"><a href="about.html"><span class="footer-link">About</span></a>
                                        </div>
                                        <div class="col-xs-12"><a href="portfolio.html"><span class="footer-link">Portfolio</span></a>
                                        </div>
                                        <div class="col-xs-12"><a href="support.html"><span class="footer-link">Support</span></a>
                                        </div>
                                        <div class="col-xs-12"><a href="contact.html"><span class="footer-link">Contact</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-left sm-pad">
                                <h4 id="footer-social-media-heading">
                                Connect With Us
                            </h4>
                                <hr class="white">
                                <div id="footer-social-media-icons" class="list-unstyled list-inline text-center row">
                                    <div class="col-xs-3"><a href="https://facebook.com/4UmNinja" onclick="window.open(this.href,'_blank');return false;"><i class="icon-facebook-circled"></i></a>
                                    </div>
                                    <div class="col-xs-3"><a href="https://twitter.com/phreelyfe" onclick="window.open(this.href,'_blank');return false;"><i class="icon-twitter-circled"></i></a>
                                    </div>
                                    <div class="col-xs-3"><a href="http://www.youtube.com/user/PhreeLyfe/videos" onclick="window.open(this.href,'_blank');return false;"><i class="icon-youtube-squared"></i></a>
                                    </div>
                                    <div class="col-xs-3"><a href="mailto:info@tech-ninja.ca" onclick="window.open(this.href,'_blank');return false;"><i class="icon-mail-circled"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div id="footer-contact-us" class="sm-pad">
                                    <h4 id="footer-contact-us-heading" class="text-center">Well.. You've Made It This Far!</h4>
                                    <p id="footer-contact-us-body" class="text-center">
                                        At least send us a message!
                                    </p>
                                    <div id="footer-contact-us-form-container">
                                        <form id="footer-contact-us-form" action="post">
                                            <div id="footer-contact-us-box" class="form-group">
                                                <textarea name="footer-contact-us-input" class="form-control" cols="30" rows="3" placeholder="MAIN CONTENT CONTACT US"></textarea>
                                                <br>
                                                <button id="footer-contact-us-submit" class="btn btn-danger col-xs-12">SEND</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="text-center row">
                <div id="copyright-label" class="col-sm-12">
                    <a href="#"><small>Copyright 2015 Tech Ninja | Web &amp; IT®</small></a>
                </div>
            </div>
        </nav>
    </div>


    <!-- Tech Ninja Custom Script -->
    <script src="../../js/prototype.js"></script>
    <script src="../../js/main.js"></script>

    <!-- Parallax Scrollr Library -->
    <script type="text/javascript" src="../../vendor/parallax/parallax.min.js"></script>
</body>

</html>