<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <title>Tech Ninja | Web &amp; IT</title>
    <meta name="description" content="Tech Ninja | Web &amp; IT Advanced Web Applications" />
    <meta name="author" content="4UmNinja" />

    <link rel="stylesheet" href="../../css/styles.css?v=1.0" />
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400normal,700normal" rel="stylesheet" type="text/css">
    <!-- Tech Ninja Custom Icons -->
    <link rel="stylesheet" href="../../vendor/tn-icons/css/fontello.css">
    <link rel="stylesheet" href="../../vendor/tn-icons/css/animation.css">
    <!--[if IE 7]><link rel="stylesheet" href="../../vendor/tn-icons/css/fontello-ie7.css"><![endif]-->

    <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div id="navigation">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tn-nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../../index.html"><span class="tech">TECH</span><span class="ninja"> NINJA</span> <img class="hidden" src="#" alt="Tech Ninja | Web &amp; IT"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="tn-nav-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./about.html">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class=""><a href="./portfolio.html">Portfolio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class=""><a href="./support.html">Support <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="active"><a href="./contact.html">Contact <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <div id="nav-login" class="text-center navbar-right">
                        <button id="signin" type="button" class="btn btn-sm btn-success navbar-btn">Sign in </button>
                        <br /><a class="navbar-link not-a-member">Not A Member?</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="contact-page" class="content page">
        <div class="page-container container-small">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <div class="col-sm-12 text-left">
                        <h2>Consultation Form</h2>
                        <div class="clear-fix"></div>
                        <hr class="white">
                        <div id="consultation-form">
                            <div id="contact-info">
                                <h4>Main Contact</h4>
                                <p>If you wish to contact us directly, please email us @ <a href="mailto:support@tech-ninja.ca" title="Contact Us Direct">support@tech-ninja.ca</a>.</p>
                            </div>
                            <form role="form" name="Tech Ninja Consultation Form" id="consultationForm" action="#" method="post" accept-charset="utf-8">
                                <hr class="white">
                                <h4>Company Details</h4>
                                <div class="form-group col-sm-6">
                                    <label class="" for="company-name">Company</label>
                                    <div class="">
                                        <input name="company" type="text" class="form-control" id="company-name" placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="current-website">Current Website</label>
                                    <div class="">
                                        <input name="website" type="text" class="form-control" id="current-website" placeholder="Website URL">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br/>
                                <h4>Contact Information</h4>
                                <div class="form-group col-sm-6">
                                    <label class="" for="designation">Title</label>
                                    <div class="">
                                        <input name="designation" type="text" class="form-control" id="designation" placeholder="Enter Your Designation">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="first-name">First Name</label>
                                    <div class="">
                                        <input name="firstname" type="text" class="form-control" id="first-name" placeholder="Enter First Name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="last-name">Last Name</label>
                                    <div class="">
                                        <input name="lastname" type="text" class="form-control" id="last-name" placeholder="Enter Last Name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="phone">Phone</label>
                                    <div class="">
                                        <input name="phone" type="text" class="form-control" id="phone" placeholder="Enter Phone Number" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="mobile">Mobile</label>
                                    <div class="">
                                        <input name="mobile" type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="email">Email</label>
                                    <div class="">
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="city">City</label>
                                    <div class="">
                                        <input name="city" type="text" class="form-control" id="city" placeholder="Enter City Name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="country">Country</label>
                                    <div class="">
                                        <input name="country" type="text" class="form-control" id="country" placeholder="Enter Country">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="purpose">What Is The Purpose Of Your Site?</label>
                                    <div class="">
                                        <input name="Purpose" type="text" class="form-control" id="purpose" placeholder="What Is The Purpose Of Your Site?" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="business-description">Describe Your Business</label>
                                    <div class="">
                                        <input name="Describe_Your_Business" type="text" class="form-control" id="business-description" placeholder="Describe Your Business">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="competitors">Who Are Your Main Competitors?</label>
                                    <div class="">
                                        <input name="Main_Competitors" type="text" class="form-control" id="competitors" placeholder="Who Are Your Main Competitors?">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="usp">Describe What Makes Your Business Unique</label>
                                    <div class="">
                                        <input name="USP" type="text" class="form-control" id="usp" placeholder="Describe What Makes Your Business Unique">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="target-demographics">Describe The Kinds Of People Who Will Be Visiting Your Site</label>
                                    <div class="">
                                        <input name="Target_Demographics" type="text" class="form-control" id="target-demographics" placeholder="Describe The Kinds Of People Who Will Be Visiting Your Site">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="sites-enjoyed">Name And Describe 3 Sites You Enjoy</label>
                                    <div class="">
                                        <input name="Comparable_Sites" type="text" class="form-control" id="sites-enjoyed" placeholder="Name And Describe 3 Sites You Enjoy">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="sites-not-enjoyed">Name And Describe 3 Sites You Don't Like</label>
                                    <div class="">
                                        <input name="Detestable_Sites" type="text" class="form-control" id="sites-not-enjoyed" placeholder="Name And Describe 3 Sites You Don't Like">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="functionality">Describe How You Would Like Your Site To Function</label>
                                    <div class="">
                                        <input name="Functionality" type="text" class="form-control" id="functionality" placeholder="Describe How You Would Like Your Site To Function">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="web-management">Who Will Manage Your Site?</label>
                                    <select id="web-management" class="form-control">
                                        <option value="Self">Me</option>
                                        <option value="Friend">A Friend</option>
                                        <option value="Staff">In House Staff</option>
                                        <option value="Studio">Web Development Studio</option>
                                        <option value="TechNinja">The Tech Ninja Squad</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="keyword-research">Have You Completed An In Depth Keyword Analysis?</label>
                                    <select id="keyword-research" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="content-research">Will You Provide The Website Content?</label>
                                    <select id="content-research" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="time-investment">How Much Time Are You Willing To Commit To Updating Your Site?</label>
                                    <select id="time-investment" class="form-control">
                                        <option value="1 Hour per Week">1 Hour per Week</option>
                                        <option value="1 Hour per Day">1 Hour per Day</option>
                                        <option value="Part Time 20+ Hrs">Part Time 20+ Hrs</option>
                                        <option value="Full Time 40+ Hrs">Full Time 40+ Hrs</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <label class="" for="feedback">We Appreciate Any Comments Or Feedback</label>
                                    <textarea name="feedback" class="form-control" id="feedback" placeholder="We Appreciate Any Comments Or Feedback"></textarea>
                                </div>
                                <button id="submit" class="col-sm-2 col-sm-offset-5 btn btn-primary">Sumbit</button>
                                <div class="clearfix"></div>
                            </form>
                            <hr class="white">
                            <div id="greeting-message">
                                <h4>We Are Eager To Hear From You!</h4>
                                <p>Please ensure you fill the form out completely, as it will help us to better understand you and the needs of your business.</p>
                            </div>
                            <hr class="white">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="footer"></div>
    <div id="copyright">
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="text-center row">
                <div id="copyright-label" class="col-sm-12">
                    <a href="#"><small>Copyright 2015 Tech Ninja | Web &amp; IT®</small></a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Tech Ninja Custom Script -->
    <script src="../../js/prototype.js"></script>
    <script src="../../js/main.js"></script>

    <!-- Parallax Scrollr Library -->
    <script type="text/javascript" src="../../vendor/parallax/parallax.min.js"></script>
</body>

</html>