<div id="home-page" class="content page">
    <div class="page-container">
        <div id="teaser-window" class="container-fluid test text-center xl-pad scrollme">
            <h2 id="teaser-message" class="animateme">MAIN CONTENT</h2>
        </div>
        <div id="unique-point" class="container-fluid text-center test xxl-pad">
            <div class="row scrollme">
                <div class="col-sm-6 animateme" data-when="enter" data-from="0.6" data-to="0" data-opacity="0" data-translatey="-400">
                    <h3>More Content Should Be Centered</h3>
                </div>
                <div class="col-sm-6 animateme" data-when="enter" data-from="0.6" data-to="0" data-opacity="0" data-translatey="-400">
                    <h3>NO COOKIE CUTTER More Content Should Be Centered</h3>
                </div>
            </div>
        </div>
        <div id="toolbelt" class="container-fluid" ng-class="{min:boolChangeClass}">
            <div class="container">
                <ul class="list-unstyled">
                    <li>
                        <ul class="row list-unstyled scrollme">
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-android"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="400"><a href="#"><i class="toolbelt-icon icon-ios"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-cordova"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="400"><a href="#"><i class="toolbelt-icon icon-jquery"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-magento"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="400"><a href="#"><i class="toolbelt-icon icon-joomla"></i></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="row list-unstyled scrollme">
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.6" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-github"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="400"><a href="#"><i class="toolbelt-icon icon-nodejs"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-parse"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="400"><a href="#"><i class="toolbelt-icon icon-angularjs"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-mongodb"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad animateme" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="400"><a href="#"><i class="toolbelt-icon icon-vtiger"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="reports-point" class="container-fluid text-center">
            <div class="container">
                <div class="row scrollme">
                    <div id="reports-point-left" class="col-sm-6 animateme" data-when="enter" data-from="0.8" data-to="0" data-opacity="0" data-translatex="-400">
                        <div id="reports-chart" class="chart col-xs-12"></div>
                    </div>
                    <div id="reports-point-right" class="col-sm-6 animateme" data-when="enter" data-from="0.8" data-to="0" data-opacity="0" data-translatex="400">
                        <h3 id="reports-point-heading">WE TRACK EVERYTHING</h3>
                        <br>
                        <p id="reports-point-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="growth-point" class="container-fluid">
            <div class="container">
                <div class="row scrollme">
                    <div id="growth-point-left" class="col-sm-6 animateme" data-when="enter" data-from="0.8" data-to="0" data-opacity="0" data-translatex="-400">
                        <h3 id="growth-point-header" class="text-center">WE SCALE WITH YOUR BUSINESS</h3>
                        <br>
                        <p id="growth-point-body" class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br>
                        </p>
                        <button class="btn btn-info btn-lg center-block">Learn More</button>
                    </div>
                    <div id="growth-point-right" class="col-sm-6 animateme" data-when="enter" data-from="0.8" data-to="0" data-opacity="0" data-translatex="400">
                        <img id="growth-point-image" src="./../assets/img/iphone-black.png" alt="We absolutely love the power of metrics, and you will too!">
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio" class="container-fluid test">
            <div class="container">
                <div class="row scrollme">
                    <div id="portfolio-left" class="col-sm-6 xl-pad animateme" data-when="enter" data-from="1" data-to="0" data-opacity="0" data-translatex="-400">
                        <h3 id="portfolio-heading" class="text-center">WHY CHOOSE US?</h3>
                        <p id="portfolio-body" class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                        </p>
                    </div>
                    <div id="portfolio-right" class="col-sm-6 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="0" data-translatex="400">
                        <h2 id="portfolio-message" class="text-center sm-pad">We Use Bleeding Edge Technology!</h2>
                        <div id="portfolio-slideshow" class="flexslider">
                            <ul class="slides">
                                <li class="portfolio-slide list-unstyled"><img src="http://lorempixel.com/400/200/technics/1" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img src="http://lorempixel.com/400/200/technics/2" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img src="http://lorempixel.com/400/200/technics/3" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img src="http://lorempixel.com/400/200/technics/4" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img src="http://lorempixel.com/400/200/technics/5" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img src="http://lorempixel.com/400/200/technics/6" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                            </ul>
                        </div>
                        <div id="testimony-box">
                            <h4 id="testimony-heading" class="text-center">Hear what people are saying</h4>
                            <div id="testimony-slideshow" class="flexslider">
                                <ul class="slides">
                                    <li class="testimony-slide list-unstyled">
                                        <p>Contact ipsum dolor sit amet, consectetur adipiscing elit. Ut in tellus mauris. Nullam rhoncus finibus convallis. Cras sed gravida quam. Phasellus ut vehicula magna. Morbi in nisi a magna varius.</p>
                                    </li>
                                    <li class="testimony-slide list-unstyled">
                                        <p>Connect ipsum dolor sit amet, consectetur adipiscing elit. Ut in tellus mauris. Nullam rhoncus finibus convallis. Cras sed gravida quam. Phasellus ut vehicula magna. Morbi in nisi a magna varius.</p>
                                    </li>
                                    <li class="testimony-slide list-unstyled">
                                        <p>Content ipsum dolor sit amet, consectetur adipiscing elit. Ut in tellus mauris. Nullam rhoncus finibus convallis. Cras sed gravida quam. Phasellus ut vehicula magna. Morbi in nisi a magna varius.</p>
                                    </li>
                                </ul>
                            </div>
                            <a href="template/html/portfolio.html" id="more-portfolio" class="col-xs-12 col-sm-4 col-sm-offset-4 btn btn-primary">See More</a>
                            <div class="clearfix md-pad"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="consultation" class="container-fluid text-center">
            <div class="container">
                <h3 id="consultation-heading">MAIN CONTENT GET CONSULTATION</h3>
                <br>
                <a id="consultation-button" href="template/html/contact.html" class="btn btn-lg">CONTACT US NOW</a>
            </div>
        </div>
    </div>
</div>