<div id="contact-page" class="content page">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-left">
                    <div class="col-sm-12 text-left">
                        <h2>Consultation Form</h2>
                        <div class="clear-fix"></div>
                        <hr class="white">
                        <div id="consultation-form">
                            <div id="greeting-message" class="wow fadeIn">
                                <h4>We Really Want To Hear From Ya!</h4>
                                <p>Please ensure you fill the form out completely, as it will help us to better understand both you, and the needs of your business.</p>
                            </div>
                            <form role="form" name="Tech Ninja Consultation Form" id="consultationForm" class="wow fadeIn">
                                <hr class="white">
                                <h4>Company Details</h4>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="company-name">Company</label>
                                    <div class="">
                                        <input name="company" type="text" class="form-control" id="company-name" placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="current-website">Current Website</label>
                                    <div class="">
                                        <input name="website" type="text" class="form-control" id="current-website" placeholder="Website URL">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br/>
                                <h4>Contact Information</h4>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="designation">Title</label>
                                    <div class="">
                                        <input name="designation" type="text" class="form-control" id="designation" placeholder="Enter Your Designation">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="first-name">First Name</label>
                                    <div class="">
                                        <input name="firstname" type="text" class="form-control" id="first-name" placeholder="Enter First Name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="last-name">Last Name</label>
                                    <div class="">
                                        <input name="lastname" type="text" class="form-control" id="last-name" placeholder="Enter Last Name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="phone">Phone</label>
                                    <div class="">
                                        <input name="phone" type="text" class="form-control" id="phone" placeholder="Enter Phone Number" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="mobile">Mobile</label>
                                    <div class="">
                                        <input name="mobile" type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="email">Email</label>
                                    <div class="">
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="city">City</label>
                                    <div class="">
                                        <input name="city" type="text" class="form-control" id="city" placeholder="Enter City Name" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="country">Country</label>
                                    <div class="">
                                        <input name="country" type="text" class="form-control" id="country" placeholder="Enter Country">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="purpose">What Is The Purpose Of Your Site?</label>
                                    <div class="">
                                        <input name="Purpose" type="text" class="form-control" id="purpose" placeholder="What Is The Purpose Of Your Site?" required>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="business-description">Describe Your Business</label>
                                    <div class="">
                                        <input name="Describe_Your_Business" type="text" class="form-control" id="business-description" placeholder="Describe Your Business">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="competitors">Who Are Your Main Competitors?</label>
                                    <div class="">
                                        <input name="Main_Competitors" type="text" class="form-control" id="competitors" placeholder="Who Are Your Main Competitors?">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="usp">Describe What Makes Your Business Unique</label>
                                    <div class="">
                                        <input name="USP" type="text" class="form-control" id="usp" placeholder="Describe What Makes Your Business Unique">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="target-demographics">Describe The People You Want To Attract</label>
                                    <div class="">
                                        <input name="Target_Demographics" type="text" class="form-control" id="target-demographics" placeholder="Describe The Kinds Of People Who Will Be Visiting Your Site">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="sites-enjoyed">Name And Describe 3 Sites You Enjoy</label>
                                    <div class="">
                                        <input name="Comparable_Sites" type="text" class="form-control" id="sites-enjoyed" placeholder="Name And Describe 3 Sites You Enjoy">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="sites-not-enjoyed">Name And Describe 3 Sites You Don't Like</label>
                                    <div class="">
                                        <input name="Detestable_Sites" type="text" class="form-control" id="sites-not-enjoyed" placeholder="Name And Describe 3 Sites You Don't Like">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="functionality">Describe How You Would Like Your Site To Function</label>
                                    <div class="">
                                        <input name="Functionality" type="text" class="form-control" id="functionality" placeholder="Describe How You Would Like Your Site To Function">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="web-management">Who Will Manage Your Site?</label>
                                    <select id="web-management" class="form-control">
                                        <option value="Self">Me</option>
                                        <option value="Friend">A Friend</option>
                                        <option value="Staff">In House Staff</option>
                                        <option value="Studio">Web Development Studio</option>
                                        <option value="TechNinja">Tech Ninja</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="keyword-research">Have You Done A Keyword Analysis?</label>
                                    <select id="keyword-research" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="content-research">Will You Provide The Website Content?</label>
                                    <select id="content-research" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 wow fadeIn">
                                    <label class="" for="time-investment">How Much Time Will You Spend Updating Your Site?</label>
                                    <select id="time-investment" class="form-control">
                                        <option value="1 Hour per Week">1 Hour per Week</option>
                                        <option value="1 Hour per Day">1 Hour per Day</option>
                                        <option value="Part Time 20+ Hrs">Part Time 20+ Hrs</option>
                                        <option value="Full Time 40+ Hrs">Full Time 40+ Hrs</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12 wow fadeIn">
                                    <label class="" for="feedback">We Appreciate Any Comments Or Feedback</label>
                                    <textarea name="feedback" class="form-control" id="feedback" placeholder="We Appreciate Any Comments Or Feedback"></textarea>
                                </div>
                                <div class="clearfix"></div>
                                <br/>
                                <button id="submit" class="wow fadeIn col-xs-12 col-sm-2 col-sm-offset-5 btn btn-primary">Sumbit</button>
                            </form>
                            <div class="clearfix"></div>
                            <br/>
                            <hr class="white">
                            <div id="contact-info" class="wow shake">
                                <p>If you wish to contact us directly, please email us @ <a href="mailto:support@tech-ninja.ca" title="Contact Us Direct">support@tech-ninja.ca</a>.</p>
                            </div>
                            <hr class="white">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>