<div id="support-page" class="content page">
    <div ng-hide="!sessionUser" class="page-container">
        <div id="main" class="row">
            <div id="chat" class="col-xs-8 col-sm-10">
            </div>
            <div id="users" class="col-xs-4 col-sm-2">
            </div>
            <div ng-show="getLocation() == '/support' " id="secondary" class="col-xs-12">
                <div id="message-box" class="input-group">
                    <input id="message" type="text" class="form-control" placeholder="TYPE YOUR COMMENTS HERE" autofocus>
                    <span class="input-group-btn">
                        <button id="send-btn" class="btn btn-danger" type="button">SEND</button>
                     </span>
                </div>
                <!-- /input-group -->
            </div>
        </div>
    </div>
    <div ng-show="!sessionUser" class="page-container">
        <div class="col-sm-12 text-center lg-pad">
            <h3>This Feature Is Active For Members Only!</h3><br>
            <p>Please Check Back Shortly <br>For Public Access.</p>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="user-modalLabel">HEADER TITLE</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>