<div id="about-page" class="content page">
    <div class="page-container wow fadeIn">
        <div id="video-container" class="">
            <iframe id="video-ad" class="container-full" src="//www.youtube.com/embed/4BunoRNTJIg?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen></iframe>
        </div>
        <br>
        <div id="feature" class="text-center md-pad">
            <h2 id="feature-heading" class="wow fadeInDown">
                TECHNOLOGY IS OUR 
                <br>BUSINESS
            </h2>
            <p id="feature-message" class="sm-pad wow fadeInDown">
                We've been surrounded by it for decades and it's become a part of us.
                <br> Our goal is simply to handle the heavy lifting so you don't have to.
            </p>
            <button ui-sref="home.portfolio" id="feature-slogan" class="btn btn-default">VIEW OUR PORTFOLIO</button>
        </div>
        <hr>
        <div id="services">
            <h2 id="services-heading" class="md-pad text-center wow fadeIn">OUR SERVICE OFFER</h2>
            <div id="services-body" class="container text-center">
                <div id="first-service" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default wow fadeInLeft">
                        <div class="panel-heading">
                            <span class="fa fa-html5 fa-5x">
                                <h3>Web Design</h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>Every Website We Build Comes Packed With The Latest Web 2.0 Technology and Is HTML5 and Mobile Ready</p>
                        </div>
                        <div class="panel-footer">
                            <a ng-click="scrollTo('web-design-anchor')">
                                <button class="btn btn-primary">
                                    MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="second-service" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default wow fadeInLeft">
                        <div class="panel-heading">
                            <span class="fa fa-5x fa-linux">
                                <h3>IT Support</h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>Our Team Of Tech Ninja Support Operatives Have Over 10 Years In IT Reconnaissance, In-Home or In The Cloud</p>
                        </div>
                        <div class="panel-footer">
                            <a ng-click="scrollTo('it-support-anchor')">
                                <button class="btn btn-primary">
                                    MORE!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="third-service" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default wow fadeInLeft">
                        <div class="panel-heading">
                            <span class="fa fa-5x fa-film">
                                <h3>Multimedia</h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>From Print Media To Promotional Videos, We Aim To Captivate Your Audience From Beginning
                                <br />To End</p>
                        </div>
                        <div class="panel-footer">
                            <a ng-click="scrollTo('digital-media-anchor')">
                                <button class="btn btn-primary">
                                    MORE!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="fourth-service" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default wow fadeInLeft">
                        <div class="panel-heading">
                            <span class="fa fa-5x fa-group">
                                <h3>Training &amp; Courses</h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>Learn From The Pros About All Things Tech. Begin Your Lessons With Tech Ninja | Edu. Our Forums Are Open For Your Ideas</p>
                        </div>
                        <div class="panel-footer">
                            <a href="/profile">
                                <button class="btn btn-primary">
                                    MORE!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="clearfix"></div>
            </div>
            <hr>
            <h2 id="slogan" class="center-block text-center sm-pad wow fadeInUp">Every Order Received Shall Be Executed With Extreme Accuracy -- <a style="text-decoration:none;" ui-sref="home.laws" data-toggle="tooltip" title="
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum augue, ultricies pharetra nisi. Curabitur ultricies leo metus, ac fermentum nibh accumsan a. Nunc.
                ">Law 5</a>
            </h2>
            <hr>
            <div id="belief" class="text-center lg-pad wow fadeInUp">
                <h2 id="belief-heading" class="wow fadeInUp">WE STRONGLY BELIEVE</h2>
                <br>
                <p id="belief-body" class="container-small">Computers and the Internet are here to stay, so don't get left behind!
                    <br> Our team can help you navigate through any complicated technology setup
                    <br> from end to end.</p>
            </div>
            <div id="featured-work" class="container">
                <h2 class="">Featured Work</h2>
                <div id="portfolio-box" class="row">
                    <div id="mission-box" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                        <h3 class="">Leave Your Feedback!</h3>
                        <br>
                        <br>
                        <a id="twitter-feed" class="twitter-timeline" data-tweet-limit="4" data-dnt="true" href="https://twitter.com/PhreeLyfe" data-widget-id="454478518974296064">Tweets by @PhreeLyfe</a>
                        <!-- Twitter ShoutBox -->
                        <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                        </script>
                        <div class="clearfix"></div>
                    </div>
                    <div id="short-portfolio" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                        <h3 class="wow fadeInRight">Find Out Why We're Canada's Best</h3>
                        <br>
                        <br>
                        <ul id="porfolio-list" class="">
                            <a ng-click="modalPopup(item)" class="modal-btn" data-toggle='modal' data-target='#about-modal'>
                                <li ng-repeat="item in portfolioList | limitTo: 6" class="item portfolio-screen list-unstyled text-center col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInRight">
                                    <br />
                                    <h5>
                                        {{ item.title }}
                                    </h5>
                                    <br />
                                    <div class="uk-overlay">
                                        <img class="img-responsive" ng-src="{{ item.imgSrc }}" alt="{{ item.alt }}" />
                                        <div class="uk-overlay-area">
                                        </div>
                                    </div>
                                    <br />
                                    <a ng-click="modalPopup(item)" class="modal-btn more info btn btn-info wow fadeInRight" data-toggle='modal' data-target='#about-modal'>View</a>
                                </li>
                            </a>
                        </ul>
                        <div class="clearfix"></div>
                        <div id="portfolio-more" class="sm-pad col-sm-6 col-sm-offset-4">
                            <a ui-sref="home.portfolio" id="portfolio-more-btn" class="btn btn-danger center-block">SEE MORE</a>
                        </div>
                        <div class="clearfix"></div>
                        <div id="law-5" class="text-right wow fadeInUp">
                            <h5 class="wow fadeInRightBig"><small>Read The Tech Ninja<a ui-sref="home.laws" href="/laws">
                                *Laws of Conduct*</a></small>
                            </h5>
                        </div>
                    </div>
                </div>
                <br />
                <div id="slogan2" class="row text-center col-md-12 wow fadeIn">
                    <h3 class="lead wow fadeIn">We Use Responsive Technology To Adapt To An Ever Changing World</h3>
                    <ul id="logo-block" class="list-inline list-unstyled col-md-12">
                        <li class="logo-html5 wow fadeInUp"></li>
                        <li class="logo-css3 wow fadeInUp"></li>
                        <li class="logo-js wow fadeInUp"></li>
                        <li class="logo-sql wow fadeInUp"></li>
                        <li class="logo-ajax wow fadeInUp"></li>
                        <li class="logo-jquery wow fadeInUp"></li>
                        <li class="logo-json wow fadeInUp"></li>
                        <li class="logo-php wow fadeInUp"></li>
                        <li class="logo-joomla wow fadeInUp"></li>
                        <li class="logo-wordpress wow fadeInUp"></li>
                        <li class="logo-magento wow fadeInUp"></li>
                        <li class="logo-vtiger wow fadeInUp"></li>
                    </ul>
                </div>
                </center>
            </div>
        </div>
        <div id="values" class="text-center lg-pad">
            <h2 id="values-heading wow fadeInUp">OUR VALUES</h2>
            <br>
            <p id="values-body" class="container-small wow fadeIn">
                <div>We use the best most cutting edge tools the industry has to offer,
                    so that our clients get an unparalleled, unique experience.
                    <br>
                    <br>
                </div>
                <div class="open-source-tools col-sm-4 col-sm-offset-4">
                    <h5 class="wow fadeIn"><i class="fa fa-quote-left pull-left fa-border"></i><i class="fa fa-quote-right fa pull-right fa-border"></i>Our tools are all Open Source which means less proprietary legacy software, more comprehensive support."</h5>
                </div>
            </p>
        </div>
        <div id="team" class="text-center lg-pad">
            <h2 id="team-heading" class="wow fadeIn">MEET THE HEAD NINJA</h2>
            <br>
            <p id="team-body" class="container-small wow fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum augue, ultricies pharetra nisi. Curabitur ultricies leo metus, ac fermentum nibh accumsan a. Nunc.</p>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="about-modalLabel">HEADER TITLE</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>