/* 
	GLOBAL PRIMARY STYLES 
*/
html, body { margin:0 auto; padding:0; width:100%; height:100%; background: transparent; }
/*body { padding-top:14px }*/
h1, h2, h3, h4, h5, h6 { font-family: "Montserrat"; }
p { font-family: "proxima-nova"; font-size: 18px; }
button, a, input { border-radius: 0!important; }

/* NAVIGATION FIX */
#about-page, #contact-page { padding-top:42px; } 
#portfolio-page { padding-top: 28px; } 
#home-page { margin-top:-56px; }
/*CHROME SCROLLBAR FIX*/
::-webkit-scrollbar { -webkit-appearance: none;	width: 7px; }
::-webkit-scrollbar-thumb {	border-radius: 4px;	background-color: rgba(0,0,0,.5); -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5); }

/*
	RESPONSIVE MEDIA QUERIES
*/
@media (max-width: 768px) {	/* TARGET PHONE ONLY */
	/* HELPER STYLES */
	.container-small { padding-right: 50px; padding-left: 50px; }
	/* 
		HOME PAGE 
	*/
	/* FOOTER SECTION */
	#footer-links { margin-left: 35%; }
	i[class*='-circled'], i.icon-youtube-squared { font-size: 40px; }

	/* 
		ABOUT PAGE 
	*/
	#video-container { height:370px; overflow: hidden; opacity: 0.7; box-shadow: 2px 2px 2px black; }
	#video-ad { width: 200%; height: 200%; margin-top: -40%; margin-left: -50%; }

	/* SUPPORT PAGE */
	/*#support-page { margin-top: 36px; }*/

	/* PORTFOLIO PAGE */
	#portfolio-page .page-container { padding-top: 14px; }
}
@media (min-width: 768px) { /* LARGER THAN PHONE */
	/* HELPER STYLES */
	.container-small { padding-right: 250px; padding-left: 250px; }

	/* 
		HOME PAGE 
	*/
	/* FOOTER SECTION */
	#footer-links { padding-left: 10%; }
	i[class*='-circled'], i.icon-youtube-squared { font-size: 60px; }
	
	/* 
		ABOUT PAGE 
	*/
	#video-container { height:370px; overflow: hidden; opacity: 0.9; box-shadow: 2px 2px 2px black; }
	#video-ad { width: 100%; height: 200%; margin-top: -200px; }
	/* 
		PORTFOLIO PAGE 
	*/
	#portfolio-page .page-container { padding-top: 14px; }

	/* SUPPORT PAGE */
	/*#support-page { overflow-x: hidden; margin-top:42px; }*/
}

/*
	HELPER STYLES 
*/
.tech { color: #3A89C3; }
.ninja { color: #F8982F; }
.testing { background-color: #FFE545; }
.sm-pad { padding-top: 20px; padding-bottom: 20px; }
.md-pad { padding-top: 50px; padding-bottom: 50px; }
.lg-pad { padding-top: 100px; padding-bottom: 100px; }
.xl-pad { padding-top: 200px; padding-bottom: 200px; }
.xxl-pad { padding-top: 400px; padding-bottom: 400px; }
.full { width: 100%; position:fixed; z-index:1; padding-bottom:20px; background-color:white;}
.container-full { margin-right: auto; margin-left: auto; }
/*.parallax { color: white!important; position:relative;z-index:1; -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75); -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75); box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75); } /* PARALLAX EFFECT */*/
.logos { background-repeat: no-repeat;}
.flexslider { overflow: hidden; margin-bottom: 14px; }
.page-container { overflow: hidden; }
.facebook-logo {  }
.github-logo {  }
.google-hangouts-logo {  }

/* 
	NAVIGATION 
*/
#navigation a:hover { color: #F8982F; }
#copyright .navbar { z-index: 5; }
#navigation .navbar { margin-bottom:0; min-height: 57px; border-radius:0; }
#nav-login { margin: 0; margin-top: 3px; padding-left: 5px; padding-right: 5px;}
.collapsed {  }
#signin { margin-top: 3px; margin-bottom: 0; }
a.not-a-member { text-decoration: none !important; font-size: 10px; cursor: help; }

/* HOME PAGE */
/*#home-page .page-container { padding-bottom: 30px }*/
/* 	
	TESER SECTION 
*/
#teaser-window {
	color: white;
	background: url("http://subtlepatterns.com/patterns/black_lozenge.png") fixed;
	width:100%;
	height: 700px!important; 
	background-position: center top;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
#teaser-message { margin-top: 100px; }

/* 	
	UNIQUE POINT SECTION
*/
#unique-point h3 { color: #3A89C3; }

/* 	
	TOOLBELT SECTION
*/
#toolbelt { overflow-x: hidden; background-color: #84ecaf; box-shadow: 2px 2px 1px darkgreen; }
#toolbelt ul { margin-top: 0; margin-bottom: 0; }
.toolbelt a { color: black; }
/*.toolbelt:hover { background-color: blue; }*/
.toolbelt a:hover { color: #3A89C3; }
.toolbelt-icon { font-size: 30px; }

/* 	
	REPORT POINT SECTION 
*/
#reports-point { padding-top: 300px; padding-bottom: 300px; }
#reports-point h3 { color: #3A89C3; }
#reports-point-right { padding: 8% 5% 0 5%; }
#reports-chart {  }
#reports-point-heading {  }

/* 	
	GROWTH POINT SECTION 
*/
#growth-point { background-color: #85daef; color: #f5f5f5; text-shadow: 1px 1px 1px #0abde9; box-shadow: 2px 2px 2px lightblue; padding-top: 200px; padding-bottom: 200px; }
#growth-point h3 { color: #3d3d3d;}
#growth-point-left, #growth-point-right { padding: 2% 10% 0 10%; }
#growth-point-image { max-height: 500px; }
#growth-point-heading { margin-top: 40%; }

/* 	
	PORTFOLIO SECTION 
*/
#portfolio { background: rgba(255,229,69, 1); padding-top: 100px; padding-bottom: 100px; }
/*#portfolio h2{ color: #F8982F; }*/
#portfolio-heading { color: #0abde9; text-shadow: 2px 2px 2px #e7c806; }
#portfolio-body { padding-left: 50px; padding-right: 50px; }
/*#portfolio h4 { color: #0abde9; }*/
#portfolio-left {
	/*background:rgba(108, 181, 232, 1);*/
}
#portfolio-right {
	/*height: 456px;*/
	/*background:rgba(247,165,43, 1);*/
	padding-left: 40px;
	padding-right: 40px;
}
#portfolio-right h2 { text-shadow: 2px 2px 2px #e7c806; }
#portfolio-message { line-height: 1.3em; padding-top: 15%; }
/* 	
	TESTIMONY SECTION 
*/
#testimony-box { padding-bottom: 20px; }
#testimony-heading { padding-top: 20px; }
.testimony-slide { font-size: 14px; }

/* 	
	CONSULTATION SECTION 
*/
#consultation { 
	color:white; 
	background: url("http://subtlepatterns.com/patterns/food.png") repeat fixed; 
	padding-top: 250px; 
	padding-bottom: 250px;
	box-shadow: -1px -1px 2px black;
}
h3#consultation-heading { text-shadow: 1px 1px 1px black; }
#consultation-button { background-color: #3A89C3; color: white; border: 3px solid #eee; box-shadow: 1px 1px 5px black;}
#consultation-button:hover { color: #EEE; border: 3px solid #EEE; }

/* 	
	FOOTER SECTION 
*/
#footer { background-color: #333; color: white; padding-bottom: 20px; border-top: 10px groove #eee; }
#footer-contact-us-box { color: black; }
#footer-contact-us { padding-left: 25px; padding-top: 20px; padding-bottom: 20px; }
#copyright-label, #copyright-label a { padding-top: 15px; text-decoration: none !important; }
/*	FOOTER ICONS */
#footer-social-media-icons { padding-top: 10px; }
#footer a { color: #eee; }
#footer a:hover { color: #3A89C3; text-decoration: none; }
i.icon-youtube-squared:hover, i[class*='-circled']:hover { color: #F8982F; cursor: pointer; }

/* 	
	ABOUT PAGE 
*/
#about-page .page-container { padding-top: 14px; /*padding-bottom: 30px;*/ }
/*#about-page div#footer { margin-top: 320px; }*/

/* 	
	PORTFOLIO PAGE 
*/
/*#portfolio-page .page-container { padding-bottom: 30px; }*/
#portfolio-page .container-fluid {
    position: relative;
    margin-left: -15px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#portfolio-page-heading { margin-left: 40px; }
#portfolio-page #filters { padding-bottom: 40px; list-style: none; }
#portfolio-page #filters li { float: left; }
#portfolio-page #filters li span { display: block; padding: 5px 20px; text-decoration: none; color: #666; cursor: pointer; }
#portfolio-page #filters li span.active { background: black; color: #fff; }
#portfoliolist { margin-bottom: 110px; margin-top: 110px; }
#portfolio-page #portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display: none;
    float: left;
    overflow: hidden;
}
.portfolio { padding-bottom: 20px; }
#portfolio-page .portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}
#portfolio-page .portfolio img { max-width: 100%; position: relative; }
#portfolio-page .portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
}
#portfolio-page .portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#portfolio-page .portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 5px 8px;
}
#portfolio-page .portfolio .text-category {
    display: block;
    font-size: 9px;
}
#portfolio-page .page-container:after { 
	background-color: #333; 
	content: "";
    display: block;
    width: 100%;
    height: inherit;
    overflow-y: hidden;
}
#portfolio-page .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#portfolio-page .clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#portfolio-page .row:after, .clearfix:after { clear: both; }
#portfolio-page .row, .clearfix { zoom: 1; }

/* 	
	SUPPORT PAGE 
*/
#support-page .page-container { padding-top:56px; }
#message-box, #chat, #users { border: 1px solid black; }
#chat { min-height: 100%; }
#users { overflow-y: hidden; }
/*#chat { margin-bottom: 86px; overflow-y: scroll; }*/
#message-box { padding-left: 15px; padding-right: 15px; }
#message-box .btn, #message-box input { border-radius: 0; }
#main { height: 540px; }
#copyright-label { padding-bottom: 15px!important; }
#users { margin: 0 auto; padding: 0;}
.user { cursor: pointer; background-color: #333; color: white; width: 100%; margin: 0 auto; padding-top: 5px; padding-bottom: 5px; border: 1px solid black; }
.user > .icon > i { color: black; }

/* 	
	CONTACT PAGE 
*/
/*#contact-page .page-container { padding-bottom: 30px; }*/