<div id="copyright">
    <nav ng-controller="CopyrightCtrl" class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div ng-show="getLocation() == '/support'" id="secondary" class="row">
            <div id="message-box" class="input-group">
                <input id="message" type="text" class="form-control" placeholder="TYPE YOUR COMMENTS HERE" autofocus>
                <span class="input-group-btn">
                        <button id="send-btn" class="btn btn-danger" type="button">SEND</button>
                     </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="text-center row">
            <div id="copyright-label" class="col-sm-12">
                <a href="#navigation"><small>Copyright 2015 Tech Ninja | Web &amp; IT®</small></a>
            </div>
        </div>
    </nav>
</div>