<div id="home-page" class="content page">
    <div class="page-container">
        <a id="teaser-window-anchor" href="#teaser-window-anchor"></a>
        <div id="teaser-window" class="container-fluid test text-center xl-pad">
            <h2 id="teaser-message" class="wow fadeInDown">MAIN CONTENT</h2>
        </div>
        <a id="unique-point-anchor" href="#unique-anchor"></a>
        <div id="unique-point" class="container-fluid text-center test xl-pad">
            <div class="row">
                <div id="uinique-point-left" class="col-sm-6 wow" scroll="fadeInUpBig fadeOutUpBig" data-when="enter" data-from="0.6">
                    <h3 id="unique-point-left-heading">More Content Should Be Centered</h3>
                </div>
                <div id="unique-point-right" class="col-sm-6 wow" scroll="fadeInUpBig fadeOutUpBig" data-when="enter" data-from="0.6">
                    <h3 id="unique-point-right-heading">NO COOKIE CUTTER More Content Should Be Centered</h3>
                </div>
            </div>
        </div>
        <a id="toolbelt-anchor" href="#toolbelt-anchor"></a>
        <div id="toolbelt" class="container-fluid" ng-class="{min:boolChangeClass}">
            <div class="container">
                <ul class="list-unstyled">
                    <li>
                        <ul class="row list-unstyled">
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInLeftBig fadeOutRightBig"><a href="#"><i class="toolbelt-icon icon-android"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInRightBig fadeOutLeftBig"><a href="#"><i class="toolbelt-icon icon-ios"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInLeftBig fadeOutRightBig"><a href="#"><i class="toolbelt-icon icon-cordova"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInRightBig fadeOutLeftBig"><a href="#"><i class="toolbelt-icon icon-jquery"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInLeftBig fadeOutRightBig"><a href="#"><i class="toolbelt-icon icon-magento"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInRightBig fadeOutLeftBig"><a href="#"><i class="toolbelt-icon icon-joomla"></i></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="row list-unstyled">
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInLeftBig fadeOutRightBig" data-when="enter"><a href="#"><i class="toolbelt-icon icon-github"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInRightBig fadeOutLeftBig"><a href="#"><i class="toolbelt-icon icon-nodejs"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInLeftBig fadeOutRightBig"><a href="#"><i class="toolbelt-icon icon-parse"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInRightBig fadeOutLeftBig"><a href="#"><i class="toolbelt-icon icon-angularjs"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInLeftBig fadeOutRightBig" data-when="enter" data-from="0.7" data-to="0" data-opacity="0" data-translatex="-400"><a href="#"><i class="toolbelt-icon icon-mongodb"></i></a>
                            </li>
                            <li class="toolbelt col-xs-6 col-sm-4 col-md-2 sm-pad wow" scroll="fadeInRightBig fadeOutLeftBig"><a href="#"><i class="toolbelt-icon icon-vtiger"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a id="reports-point-anchor" href="#reports-point-anchor"></a>
        <div id="reports-point" class="container-fluid text-center">
            <div class="container">
                <div class="row">
                    <div id="reports-point-left" class="col-sm-6 wow" scroll="fadeInLeftBig fadeOutRightBig">
                        <div id="reports-chart" class="chart col-xs-12"></div>
                    </div>
                    <div onchange="createChart()" id="reports-point-right" class="col-sm-6">
                        <h3 id="reports-point-heading">WE TRACK EVERYTHING</h3>
                        <br>
                        <p id="reports-point-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a id="growth-point-anchor" href="#growth-point-anchor"></a>
        <div id="growth-point" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div id="growth-point-left" class="col-sm-6 wow" scroll="fadeInLeftBig fadeOutRightBig" data-when="enter" data-from="0.8" data-to="0">
                        <h3 id="growth-point-header" class="text-center">WE SCALE WITH YOUR BUSINESS</h3>
                        <br>
                        <p id="growth-point-body" class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br>
                        </p>
                        <button ui-sref="home.about" class="btn btn-info btn-lg center-block">View Our Services</button>
                    </div>
                    <div id="growth-point-right" class="col-sm-6 wow" scroll="fadeInRightBig fadeOutLeftBig" data-when="enter" data-from="0.8" data-to="0">
                        <img id="growth-point-image" class="img-responsive center-block" src="./../assets/img/home/iphone-black-min-sized.png" alt="We absolutely love the power of metrics, and you will too!">
                    </div>
                </div>
            </div>
        </div>
        <a id="portfolio-anchor" href="#portfolio-anchor"></a>
        <div id="portfolio" class="container-fluid test">
            <div class="container">
                <div class="row">
                    <div id="portfolio-left" class="col-sm-6 wow" scroll="fadeInLeftBig fadeOutRightBig">
                        <h3 id="portfolio-heading" class="text-center">WHY CHOOSE US?</h3><br>
                        <p id="portfolio-body" class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                            <br>
                            <br> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in malesuada leo. Nam et diam eu tortor blandit venenatis.
                        </p>
                    </div>
                    <div id="portfolio-right" class="col-sm-6 wow" scroll="fadeInRightBig fadeOutLeftBig">
                        <h2 id="portfolio-message" class="text-center">We Use Bleeding Edge Technology!</h2>
                        <div id="portfolio-slideshow" class="flexslider">
                            <ul class="slides">
                                <li class="portfolio-slide list-unstyled"><img class="img-reponsive" src="assets/img/home/technics/1.jpg" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img class="img-reponsive" src="assets/img/home/technics/2.jpg" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img class="img-reponsive" src="assets/img/home/technics/3.jpg" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img class="img-reponsive" src="assets/img/home/technics/4.jpg" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img class="img-reponsive" src="assets/img/home/technics/5.jpg" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                                <li class="portfolio-slide list-unstyled"><img class="img-reponsive" src="assets/img/home/technics/6.jpg" alt="IMAGE TITLE TO BE REPLACED">
                                </li>
                            </ul>
                        </div>
                        <div id="testimony-box">
                            <h4 id="testimony-heading" class="text-center">Hear what people are saying</h4>
                            <div id="testimony-slideshow" class="flexslider">
                                <ul class="slides">
                                    <li class="testimony-slide list-unstyled">
                                        <p>Contact ipsum dolor sit amet, consectetur adipiscing elit. Ut in tellus mauris. Nullam rhoncus finibus convallis. Cras sed gravida quam. Phasellus ut vehicula magna. Morbi in nisi a magna varius.</p>
                                    </li>
                                    <li class="testimony-slide list-unstyled">
                                        <p>Connect ipsum dolor sit amet, consectetur adipiscing elit. Ut in tellus mauris. Nullam rhoncus finibus convallis. Cras sed gravida quam. Phasellus ut vehicula magna. Morbi in nisi a magna varius.</p>
                                    </li>
                                    <li class="testimony-slide list-unstyled">
                                        <p>Content ipsum dolor sit amet, consectetur adipiscing elit. Ut in tellus mauris. Nullam rhoncus finibus convallis. Cras sed gravida quam. Phasellus ut vehicula magna. Morbi in nisi a magna varius.</p>
                                    </li>
                                </ul>
                            </div>
                            <a ui-sref="home.portfolio" id="more-portfolio" class="col-xs-12 col-sm-4 col-sm-offset-4 btn btn-primary">See More</a>
                            <div class="clearfix md-pad"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="consultation-anchor" href="#consultation-anchor"></a>
        <div id="consultation" class="container-fluid text-center">
            <div class="container">
                <h3 id="consultation-heading">MAIN CONTENT GET CONSULTATION</h3>
                <br>
                <a id="consultation-button" ng-href="contact" class="btn btn-lg">CONTACT US NOW</a>
            </div>
        </div>
    </div>
</div>