@font-face{font-family:'fontello';src:url('../font/fontello.eot?6604396');src:url('../font/fontello.eot?6604396#iefix') format('embedded-opentype'),
url('../font/fontello.woff?6604396') format('woff'),
url('../font/fontello.ttf?6604396') format('truetype'),
url('../font/fontello.svg?6604396#fontello') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"]:before, [class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;}
.icon-facebook-circled:before{content:'\e800';}
.icon-angularjs:before{content:'\e801';}
.icon-cordova:before{content:'\e802';}
.icon-github:before{content:'\e803';}
.icon-ios:before{content:'\e804';}
.icon-joomla:before{content:'\e805';}
.icon-jquery:before{content:'\e806';}
.icon-magento:before{content:'\e807';}
.icon-mongodb:before{content:'\e808';}
.icon-nodejs:before{content:'\e809';}
.icon-parse:before{content:'\e80a';}
.icon-vtiger:before{content:'\e80b';}
.icon-twitter-circled:before{content:'\e80c';}
.icon-youtube-squared:before{content:'\e80d';}
.icon-mail-circled:before{content:'\e80e';}
.icon-android:before{content:'\e80f';}