<div id="profile-page" class="content page">
    <div ng-hide="!sessionUser" class="page-container">
        <div id="user-details" class="col-sm-3">
            <div id="profile-image" class="profile-image">
                <img src="http://lorempixel.com/g/150/230/" class="img-responsive" alt="Profile Pic" />
            </div>
            <br/>
            <div id="username">
                Username: {{ currentUser.username }}
                <br/> Real Name: {{ currentUser.firstName }} {{ currentUser.lastName}}
                <br/> Email: {{ currentUser.email }}
                <br/>
            </div>
        </div>
        <div id="user-profile-header" class="col-sm-9">
            <div id="profile-banner" class="banner-image">
                <img src="http://lorempixel.com/1200/300/" class="img-responsive" alt="Banner Image" />
            </div>
            <ul id="user-profile-navigation" class="nav nav-pills list-unstyled list-inline">
                <li id="user-messages" role="presentation" ui-sref-active="active"><span class="sr-only">(current)</span><a ui-sref="profile.main">Home</a>
                </li>
                <li role="presentation"><a ui-sref="profile.messages" ui-sref-active="active">Messages</a>
                </li>
                <li role="presentation"><a ui-sref="profile.support" ui-sref-active="active">Support Tickets</a>
                </li>
                <li role="presentation"><a ui-sref="profile.todos" ui-sref-active="active">To Do's</a>
                </li>
                <li role="presentation"><a ui-sref="profile.settings" ui-sref-active="active">Settings</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <hr>
        </div>
        <div id="profile-template" class="col-sm-12">
            <div id="profile-page-messages" ui-view="profile@messages"></div>
            <div id="profile-page-support" ui-view="profile@support"></div>
            <div id="profile-page-todos" ui-view="profile@todos"></div>
            <div id="profile-page-settings" ui-view="profile@settings"></div>
        </div>
    </div>
    <div ng-show="!sessionUser" class="page-container">
        <div id="test-div">{{ message }}</div>
        <div>Please Login!</div>
    </div>
</div>