<div id="support-ticket-page" class="content page">
    <div ng-hide="!sessionUser" class="page-container">
        <h3>Support Ticketing</h3>
        <div class="container-small-left">
            <hr>
        </div>
        <p>Please select a subject in the left hand column to view a thread.
        </p>
        <div class="container-small-left">
            <hr>
        </div>
        <br/>
        <ul id="support-tickets" class="col-sm-3">
            <h3>Ticket List</h3>
            <div ui-view="profile@ticketList"></div>
        </ul>
        <div ng-show="supportTickets" id="message-threads" class="col-sm-9">
            <h3>Ticket Thread</h3>
            <!-- Support Ticket Template -->
            <div ui-view="support@tickets"></div>
            
            <div id="create-ticket">
                <h4>Create a Ticket</h4>
                <div ui-view="support@createTicket"></div>
            </div>
        </div>
    </div>
    <div ng-show="!sessionUser" class="page-container">
        <div id="test-div">{{ message }}</div>
        <div>Please Login!</div>
    </div>
</div>