<div id="service-page" class="content page">
    <div class="page-container">
        <a id="web-design-anchor" href="#web-design-anchor"></a>
        <div id="web-design-section">
            <div ng-click="scrollTo('web-design-anchor')" id="web-design-banner" class="jumbotron title">
                <a href="#web-design-anchor" class="container">
                    <lead>
                        <h2 class="container">Web Design</h2>
                    </lead>
                </a>
            </div>
            <div id="first-container" class="container lg-pad">
                <div class="col-sm-6 text-center v-center">
                    <h2 style="color:#3B8AC4">Basic Landing
                            <br />Page</h2>
                    <p>Get a Landing Page or
                        <br />Personal Website
                        <br />Starting @</p>
                    <p>
                        <i class="fa fa-dollar"></i>499</p>
                </div>
                <div id="web-teaser" class="col-sm-6">
                    <img src="assets/img/about/tn-banner-window.png" class="center-block img-responsive" alt="" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div id="second-container" class="container lg-pad">
            <div id="it-teaser" class="col-sm-6">
                <img src="assets/img/about/tn-banner-ecommerce.png" class="img-responsive" alt="" />
            </div>
            <div id="it-message" class="col-sm-6 text-center v-center">
                <h2 style="color:#3B8AC4">Advanced
                        <br />Business &amp; Ecommerce</h2>
                <p>Reach More People
                    <br />Who Love What You Have To Offer
                    <br />Starting @</p>
                <p>
                    <i class="fa fa-dollar"></i>1000</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="hosting-section">
            <a id="hosting-anchor" href="#hosting-anchor"></a>
            <div id="hosting-banner" class="jumbotron title">
                <a ng-click="scrollTo('hosting-anchor')" href="#hosting-anchor" class="container">
                    <lead>
                        <h2 class="container">Get Reliable Web Hosting</h2>
                    </lead>
                </a>
            </div>
            <div id="hosting-options" class="container lg-pad">
                <div class="col-sm-3 text-center">
                    <div class="balance panel panel-default">
                        <div class="panel-heading">
                            <h2>Bronze</h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="#bullet"></i>1 Unique Email Address</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>1 Email Account Forwarded</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>1 MySQL Database</li>
                                <li class="divider">
                                    <hr />
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <p>
                                <i class="fa fa-dollar"></i>15 /mo</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="balance panel panel-default">
                        <div class="panel-heading">
                            <h2>Silver</h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="#bullet"></i>2 Unique Email Addresses</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>2 Email Accounts Forwarded</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>2 Hosted MySQL Databases</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>One Touch CSM Installation</li>
                                <li class="divider">
                                    <hr />
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <p>
                                <i class="fa fa-dollar"></i>25 /mo</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="balance panel panel-default">
                        <div class="panel-heading">
                            <h2>Gold</h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="#bullet"></i>2 Unique Email Addresses</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>Unlimited Account Forewarding</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>2 Hosted MySQL Databases</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>One Touch CSM Installation</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>3 Free Yearly Support Tickets</li>
                                <li class="divider">
                                    <hr />
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <p>
                                <i class="fa fa-dollar"></i>35 /mo</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="balance panel panel-default">
                        <div class="panel-heading">
                            <h2>Platinum</h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="#bullet"></i>3 Unique Email Addresses</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>Unlimited Account Forewarding</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>3 Hosted MySQL Databases</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>One Touch CMS Installation</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>1 Free Domain Name Transfer</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>24hr Phone Support</li>
                                <li class="divider">
                                    <hr />
                                </li>
                                <li>
                                    <i class="#bullet"></i>2 Free Monthly Support Tickets</li>
                                <li class="divider">
                                    <hr />
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <p>
                                <i class="fa fa-dollar"></i>50 /mo</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="it-support-section">
            <a id="it-support-anchor" href="#it-support-anchor"></a>
            <div id="it-support-banner" class="jumbotron title">
                <a ng-click="scrollTo('it-support-anchor')" href="#it-support-anchor" class="container">
                    <lead>
                        <h2 class="container">IT Support &amp; Tech Repair</h2>
                    </lead>
                </a>
            </div>
            <div id="it-support-body" class="container-fluid text-center bordered">
                <div class="container lg-pad">
                    <div class="col-md-4 right-border left-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>Web Master</h3>
                            <p>Managing a Website can be tough work. Tech Ninja specializes in Web 2.0 Technology and is equipped to administer complex domains</p>
                        </div>
                    </div>
                    <div class="col-md-4 right-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>In-Cloud Support</h3>
                            <p>The Cloud is everywhere which is why we're able to help you out anywhere, anytime. Hire a virtual IT Support team to manage your tech.</p>
                        </div>
                    </div>
                    <div class="col-md-4 right-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>On-Site Support</h3>
                            <p>When a terminal or server is down, time is limited. Cut your downtime in half and let Tech Ninja resolve your tech problems.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="digital-media-section">
            <a href="#digital-media-anchor" id="digital-media-anchor"></a>
            <div id="digital-media-banner" class="jumbotron title">
                <a ng-click="scrollTo('digital-media-anchor')" href="#digital-media-anchor" class="container">
                    <lead>
                        <h2 class="container">Digital Media</h2>
                    </lead>
                </a>
            </div>
            <div id="digital-media-body" class="container lg-pad text-center">
                <div>
                    <div class="col-md-3 right-border left-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>Graphic Design</h3>
                            <p>The work you do is art, and expressing this in a unique and fulfilling way is what we live to do. Photographs, banners and ads that will turn heads!</p>
                        </div>
                    </div>
                    <div class="col-md-3 right-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-video-camera fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>Audio Visual Editing</h3>
                            <p>High quality, smooth and sophiscticated sounds or visual effects made for your next marketing campaign or board presentation</p>
                        </div>
                    </div>
                    <div class="col-md-3 right-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>Corporate Branding</h3>
                            <p>Your vision is unique, and so is your style. We look at these in order to develop a synergistic visual representation of your brands identity</p>
                        </div>
                    </div>
                    <div class="col-md-3 right-border">
                        <div class="thumbnail-temp">
                            <i class="fa fa-gears fa-5x"></i>
                        </div>
                        <div class="dm-message">
                            <h3>Product Creation</h3>
                            <p>We take your ideas and turn them into digital products. From eBooks and How To's, and all the intellectual property in between.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a ng-click="scrollTo('quote-box-anchor')" id="quote-box-anchor" href="#quote-box-anchor"></a>
        <div id="quote-box" class="container text-center lg-pad">
            <h2>We Are Commited To
                <br />Bringing You The
                <br />Best
            </h2>
            <br />
            <a href="./index.php/contact-us">
                <button class="btn btn-deafult">Get A QUOTE</button>
            </a>
        </div>
    </div>
</div>